version: "3.9"
services:
  db:
    image: postgres:15
    container_name: store_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    container_name: store_api
    command: >
      sh -c "python wait_for_db.py && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"

    working_dir: /app
    ports:
      - "8000:8000"
    environment:
      POSTGRES_HOST: db
    env_file:
      - .env
    depends_on:
      - db
volumes:
  postgres_data: